<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.example.capstone"/>
 
    <application
	        android:allowBackup="true"
	        android:debuggable="true"
	        android:icon="@drawable/columbiaicon"
	        android:label="@string/app_menu"
	        android:screenOrientation="landscape"
	        android:theme="@style/AppTheme" >
        <meta-data 
            android:name="com.google.android.gms.version" 
            android:value="4132500" />
        <activity
            android:name="com.example.capstone.MainMenu"
            android:label="@string/app_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.capstone.MainActivity"
            android:label="@string/app_menu"
            android:parentActivityName="com.example.capstone.MainMenu" >
        </activity>
        <activity
            android:name="com.example.capstone.AdminLogin"
            android:label="@string/app_login"
            android:parentActivityName="com.example.capstone.MainMenu" >
        </activity> 
        <activity
            android:name="com.example.capstone.AdminActivity"
            android:label="@string/app_admin" 
            android:parentActivityName="com.example.capstone.AdminLogin" >
        </activity>
        <activity
            android:name="com.example.capstone.EditLocation"
            android:label="@string/app_admin" 
            android:parentActivityName="com.example.capstone.AdminActivity" >
        </activity>
        <activity
            android:name="com.example.capstone.EmailBackup"
            android:label="@string/title_activity_email_backup">
        </activity> 
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>
